<h1> Welcome to ESL Jeopardy</h1>
<p>
    <h2>If this is your first time, here is how you play:</h2>
    Please divide your class into two teams. 
    Give each team the opportunity to choose a team name.
    Please input these two names in the spaces provided when you continue to the next page.
    That will take you to the game page where you can have your teams take turns choosing a category and a point value. 
    Categories are based on the chapters of "Hi, friends".
    Clicking on the corresponding square will take you the page with a question. 
    Questions range from "What's this" to "What do you want to be?"
    Clicking on the button of the team that successfully answered the question will give the points to that team.
    Team scores are tracked on the top of the screen.<br>
    <br>
    <center>Clicking the reset button in the upper right corner will take you back to this page and completely reset your game progress.<br>
    <strong>Use with caution!</strong><br>
    <%= link_to "Start", new_game_path %></center>
</p>