<header class="">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left nav-score">
          <li class="score"><%= @team1.name %>: <%= @team1.score  %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right nav-score">
        <li class="score"><%= @team2.name %>: <%= @team2.score %></li>
      </ul>
    </nav>
  </div>
</header>
  
  <div class="container">
    <nav>

    </nav>
  </div>
