<%= render "shared/score_header", :locals => {:team1 => @team1, :team2 => @team2} %>
<br>
<table>
    <tr>
        <th> L1 </th>
        <th> L2 </th>
        <th> L3 </th>
        <th> L4 </th>
        <th> L5 </th>
    </tr>
    <% @questions.each do |q|%>
        <tr>
            <% q.each do |x| %>
                <% if x.answered %>
                    <td class="no-highlight"></td>
                <% else %>
                    <td><div class="center-cell"><%= link_to x.points, question_path(x.id) %></div></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table>
