<footer class="footer">
    <small>
        An ESL Jeopardy Game</a>
        by <a href="https://github.com/TheGreatestZenMaster">Jake Loose</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
        </ul>
    </nav>
</footer>